.modalBg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  @include lg{
    height: 100%;
  }
  #modal {
    background-color: #fff;
    z-index: +10;
    border-radius: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 1rem;
    .btn--ok {
      background-color: #9e1212;
      margin-top: 2rem;
      color: white;
      padding: 1rem 3rem;
      border: none;
    }
  }
}



#modal.show {
  display: flex;
  animation: show 0.5s forwards;
}

#modal.close {
  display: none;
  animation: close 0.5s forwards;
}